---
server:
  debug: false
  simulate: false
  db: "huizenjacht.db"  # file location of database
  poll_time_min: 1  # seconds
  poll_time_max: 3  # seconds
  message_strings:
    default_title: "Nieuw huis gevonden"
    default_title_plural: "Nieuwe huizen gevonden"
    server_info_msg_title: "Systeemmelding"
    server_startup_msg_text: "De huizenjager is opgestart"
    server_shutdown_msg_text: "De huizenjager is onverwacht gestopt"
    and: "en"

sources:
#  Source names should be exactly the same as the filename in which the source object is stored
  funda:
    active: true
    areas: [
      "enschede",
    ]
    buy_or_rent: "rent"
    min_price: 0
    max_price: 1100
    min_rooms: 2
    max_rooms: 0
    property_type: [
      "woonhuis",
      "appartement",
    ]
    sort_by: "date_down"

comm:
#  Comm names should be exactly the same as the filename in which the comm object is stored
  pushover:
    active: true
    api_key: "APIKEY_HERE"
    user_key: "USERKEY_HERE"
