[Unit]
Description=House Hunter
Wants=network-online.target
After=network.target network-online.target

[Service]
Type=notify-reload
WorkingDirectory=/usr/share/huizenjacht
Restart=on-failure
PIDFile=/run/huizenjacht.pid
ExecStart=/usr/bin/python3 /usr/local/bin/huizenjacht.py -c /etc/huizenjacht.yaml

[Install]
WantedBy=multi-user.target
